extends layout

block content

  section

    div(class='comment-container')

      //Left side comment form
      div(class='left-side')
        img(class='comment-pic' src='/images/cafe.png' alt='Picture of latte')
        div(class='comment-form')
          h2(class='form-title') Share Your Thoughts
          form(action='/comments' method='POST')
            //- Name field
            label Name
            input(type='text' id='name' name='name' maxlength='100' placeholder='Your Name' required)
            //- Comment field
            label Comment
            textarea(name='comment' id='comment' maxlength='1000' rows='5' placeholder='Please Type Your Comment Here...' required)
            //- Submit button
            button(class='submit-btn' type='submit') Submit Comment
          


      //Right side comment board
      div(class='right-side')
        div(class='comment-board')
          //Display comments
          if comments && comments.length > 0
              div(class='comments-list')
                each comment in comments
                  div(class='comment-card')
                    p(class='comment-name') #{comment.name}
                    p(class='comment-date') #{new Date(comment.created_at).toLocaleDateString()}
                    p(class='comment-text') #{comment.comment}
          else
              p(class='no-comments') Be the first to comment!

          //- Pagination
          if totalPages > 1
            div(class='comment-pagination')
              if currentPage > 1
                a(class='page-btn' href='/comments?page=' + (currentPage - 1)) Previous
              p(class='page-num') Page #{currentPage} of #{totalPages}
              if currentPage < totalPages
                a(class='page-btn' href='/comments?page=' + (currentPage + 1)) Next

  script.
    document.querySelector('form').addEventListener('submit', function() {
      this.querySelector('button[type="submit"]').disabled = true;
    });
